/auto-save-list
/eshell
/elpa
/git
/places
/saved-places
/transient
/recentf
/bm-repository
/emacs-visited-files
/ido.last
/smex-items
/eln-cache
/emacs
/tree-sitter

.lsp-session-*
projectile-bookmarks.eld